{% extends 'base.html' %}

{% block content %}
    <div class="container col-lg-10 col-lg-offset-1 offset-1 mt-1 p-2 text-center">
        <h1>Link shortener</h1>
        <form class="form-group p-1" id='link_form' method="POST" novalidate>
            <label for="link_input">Link</label>
            <input id='link_input' name='link_input' maxlength="300" minlength="10" class="form-control" type="text">
            <br>
            <button id="get_link" class="btn btn-primary ">Add</button>
            {% csrf_token %}
        </form>
    </div>
    <div id="link" class="container col-lg-10 col-lg-offset-1 text-center mt-2">
        Your link:  <a href="" id="link_text"></a>
         <span id="copy_link" class="glyphicon glyphicon-copy"
               data-target="link_text" aria-hidden="false" style="font-size:19px;" onclick="copyURI(this)">Copy</span>

    </div>

{% endblock %}

{% block script %}
    <script lang="javascript">
        function copyURI(evt) {
                {#evt.preventDefault();#}
                navigator.clipboard.writeText($("#link_text").text()).then(() => {
                  /* clipboard successfully set */
                }, () => {
                  /* clipboard write failed */
                });
        };

        $(document).ready(function() {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            $("#link").css("visibility", "hidden");

            $('#link_form').submit(function (e) {
                {#console.log('submiting form');#}
                e.preventDefault();
                $("#link").css("visibility", "hidden");

                var formdata = $("form#link_form").serializeArray();
                var data = {};
                $(formdata).each(function(index, obj){
                    data[obj.name] = obj.value;
                });

                {#console.log(data);#}
                $.ajax({
                   type: "POST",
                   url: $('form').action,
                   data: $('form').serialize(), // serializes the form's elements.
                   success: function(response) {
                       if (response.hasOwnProperty('error')){
                           $("#link_text").text(response['error']);
                           $("#link_text").attr("href", '');
                       }
                       else{
                           let shortened = response['shortened_link'];
                           $("#link_text").text("https://gentle-spire-46215.herokuapp.com/sh/" + shortened);
                           $("#link_text").attr("href", '/sh/'+shortened);
                       }

                       $("#link").css("visibility", "visible");
                   }
                 });
            })


        });
    </script>
{% endblock %}